@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;}
body { line-height:20px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
nav ul { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
a { margin:0; padding:0; vertical-align:baseline; background:transparent;}
/* change colours to suit your needs */
ins { background-color:#ff9; color:#000; text-decoration:none;}
/* change colours to suit your needs */
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del { text-decoration: line-through;}
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}
table { border-collapse:collapse; border-spacing:0;}
/* change border colour to suit your needs */
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select { vertical-align:middle;}
section {display: block; height: auto; position: relative; width: 100%;}
ul, ol, li { list-style:none;}

* { outline:0;}

.clearfix:before,.clearfix:after,
section:before,section:after,
.spacer:before,.spacer:after,
.container:before,.container:after,
.cover:before,.cover:after{content:'';display:table;}
.clearfix:after,
section:after,
.spacer:after,
.container:after,
.cover:after{clear:both;}
.clearfix,
section,
.spacer,
.container,
.cover{zoom:1;}

/**** fonts css ***/
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNovaThin';
    src: url('../fonts/pxthin.eot');
    src: url('../fonts/pxthin.eot') format('embedded-opentype'),
         url('../fonts/pxthin.woff') format('woff'),
         url('../fonts/pxthin.ttf') format('truetype'),
         url('../fonts/pxthin.svg#ProximaNovaThin') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/pxreg.eot');
    src: url('../fonts/pxreg.eot') format('embedded-opentype'),
         url('../fonts/pxreg.woff') format('woff'),
         url('../fonts/pxreg.ttf') format('truetype'),
         url('../fonts/pxreg.svg#ProximaNovaRegular') format('svg');
}
