@media only screen and (max-width: 1441px){
	#navigation .tabs-navigation.right { margin-right:10px; }
}

@media only screen and (max-width: 1379px){
	#navigation .tabs-navigation.right { margin-right:160px; }
	.sub-navigation .right {margin-right:88px;}
}

@media only screen and (max-width: 767px){
	#navigation .tabs-navigation li a,
	#navigation a.toggle-menu{font-size: 12px; padding:0 5px;}
	#navigation .logo{top: 10px; left: 20px;}
	#navigation .logo a{font: 200 20px "Open Sans",sans-serif;}
	#navigation a.toggle-menu{top: 10px; right: 15px;}
	nav{width: 70%; right: -70%; height: 100%;}
	.nav-logo {font: 300 22px "Open Sans",sans-serif; padding: 30px 0 30px 15px; display: inline-block;}
	.nav-close{/*padding: 30px 20px; font-size: 38px;*/}
	#navigation .tabs-navigation{height: auto; bottom: 2px; height: auto; left: 0; position: absolute; width: 100%;}
	#navigation a.toggle-menu small{display: none;}
	.col-half, .col-second, .col-third, .col-seventh, .col-content{width: 90% !important; padding: 0 5% !important; margin-bottom: 25px;}
	h2{font: 200 24px/34px "Open Sans"; margin-bottom: 20px;}
	p, .main-para{font-size: 13px; margin-bottom: 0;}
	.ptb120, .ptb100, .pbt120{padding-top: 25px !important; padding-bottom: 25px !important;}
	#feature-section ul li{width: 90%!important; padding: 0 5%; margin: 0 0 25px 0;}
	#feature-section ul li:last-child{margin: 0;}
	h2 {font: 200 20px/26px "Open Sans";  margin-bottom: 10px;}
	h2 br{display: none;}
	#help-section, #service-section, #testimonial-section, #blog-section, .col-seventh { text-align: center;}
	.row .col-seventh{margin: 0 !important;}
	#testimonial-section ul, #blog-section ul{padding-top: 0;}
	#testimonial-section ul li{width: 90%; margin: 0 5% 25px;}
	#testimonial-section ul li:last-child{margin: 0 5%;}
	#testimonial-page ul, #blog-section ul{padding-top: 0;}
	#testimonial-page ul li{width: 80%; margin: 0 5% 25px;}
	#testimonial-page ul li:last-child{margin: 0 5%;}
	#testimonial-page {margin-top:0px;}
	#testimonial-page  h2 {padding-left:7px;}
	footer div.sitemap > .container > ul{margin: 40px 0 0;}
	footer div.sitemap > .container > ul > li{width: 90%; padding: 0 5%;}
	footer div.sitemap > .container > ul > li:last-child{text-align: left;}
	footer .footer-bottom a.footer-logo,
	footer .footer-bottom .payment-types{float: none;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
	nav{height:100%}
	#top-section{/*min-height:400px;*/}
	footer div.sitemap > .container > ul > li {height: 450px; padding: 0 5% !important; width: 40% !important;}
	footer div.sitemap > .container > ul > li:last-child,
	footer div.sitemap > .container > ul > li:nth-child(3n){height: auto;}
	footer .footer-bottom{padding: 15px 0;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.container{padding: 0 10px;}
	.nav-logo{padding: 30px 0 30px 25px; font-size: 20px;}
	.nav-close{padding: 30px 15px;}
	#navigation .tabs-navigation li a{font-size: 12px; padding: 3px 5px; margin:30px 10px 0 0}
	#navigation .logo{left: 10px; top: 26px;}
	#navigation a.toggle-menu{right: 25px; top: 32px; font-size: 14px;}
	#navigation a.toggle-menu span{margin-left: 10px;}
	nav{width: 30%; right: -30%;}
	h2 {font: 200 34px/44px "Open Sans"; margin-bottom: 30px;}
	h2 br{display: none;}
	.col-half{width: 48%; padding: 0 1%;}
	.col-third{width: 26%; margin-right: 4%;}
	.ptb120, .ptb100, .pbt120{padding-top: 80px !important; padding-bottom: 80px !important;}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
#navigation .tabs-navigation li a {
  font-size: 11px;
  padding: 3px 3px;
  margin: 30px 5px 0 0; 
}
}
@media only screen and (max-width: 801px){
	#navigation .tabs-navigation li a.logo-item { max-width:120px; margin:0; margin-top:8px; }
	#navigation .tabs-navigation li a { min-height:26px; margin: 33px 0px 0 0; padding: 0 5px; font-size:10px; }
	footer .footer-bottom a.footer-logo { max-width:120px;}
	#map .contact { display:none}
	.c-logos li.tpl { width:31.333%}
	nav{width: 30%; right:-30%;}
}
@media only screen and (min-width: 768px){
        .mobile-only{display:none;}
        .desktop-only{display:block;}
        
}

@media only screen and (max-width: 768px){
        .desktop-only{display:none;}
        .mobile-only{display:block;}
	#navigation .tabs-navigation li a.logo-item { max-width:200px; margin:5px 15px; padding:0px; }
	footer .footer-bottom a.footer-logo { max-width:200px; margin-left:15px;}
	#navigation .tabs-navigation {display:none}
	#navigation .tabs-navigation.left { display:block;}
	footer .footer-bottom .textwidget { float: left; margin-left: 10px; text-align: left;}
	#top-section .cover-text { margin:10%; width:76%;}
	#top-section .cover-text h1 {font-size:18px; line-height:18px;}
	#testimonial-section ul.home-testimonial li { width:80%;}
	.flexslider ul.slides li .cover-text { width:82%; bottom:25%; }
	.flexslider ul.slides li .cover-text h3 {font-size:18px; line-height:18px;}
	.flexslider ul.slides li .cover-text p { margin:0;}
	.rboxes.c-1 li, .rboxes.c-2 li, .rboxes.c-3 li, .rboxes.c-4 li, .rboxes.c-5 li { width:46% }
	.rboxes li.last-box { margin-right: 1% !important;}
	nav{width: 66%; right:-66%;}
	.faqs > ul > li > h3 > span { display:none}
	.sub-navigation{ display:none !important}
}

@media only screen and (max-width: 640px){	
	#top-section .cover-text { margin:65px 2% 2% 2%; width:92%;}
	a.toggle-menu { right:10px; }
	a.toggle-menu small { display:none}
	#top-section{ /*min-height:200px;*/}
	.flexslider ul.slides li .cover-text { text-align:center !important; background:none;}
	.flexslider ul.slides li .cover-text h3 {text-align:center !important}
	.flexslider ul.slides li .cover-text p { display:none}
	.flexslider ul.slides li .cover-text a {margin-left:0;}
	.rboxes.c-1 li, .rboxes.c-2 li, .rboxes.c-3 li, .rboxes.c-4 li, .rboxes.c-5 li { width:96% }
	.rboxes li {height:auto !important}
	.rboxes li .box-title span { display:inline-block; }
	.c-logos li.tpl { width:48%}
	.rboxes li .btn-bottom { bottom:1.5%;}
	.col-half{width: 96%; padding: 1% 2%; margin:2% 0}
	.col-full{width: 96%; padding: 1% 2%;}
	.slider-testimonial { margin-bottom:120px;}
	#map .container {display:none }
	#map #stockists-map { display:none}
	.button-link { background-position:right bottom}
}

@media only screen and (max-width: 480px){
     #side-navigation{
     display:none;}
	.c-logos li.tpl { width:98%}
	.slider-testimonial { display:none}
	nav{width: 100%; right:-100%;}
}