/*
	Theme Name: Autokey
	Description: New theme for new 2015 website
	Author: iPLANiT
	Author URI: http://www.iplanit.ie
	Version: 1.2
*/



@charset "utf-8";
body{font: 14px/20px "Open Sans", sans-serif; transition: margin-left 0.3s ease 0s; overflow-x: hidden;}



/* Blog news feed styling*/

.blogimage {
  width: 30%;
  float: left;

padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.blogtext{
  position: relative;
  height: 206px;
  width: 68%;
  float: right;
  padding-left: 1%;
padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.blogbutton{
width: 30%;
  /* float: right; */
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

img{max-width: 100%;}
a{text-decoration: none; transition: all 0.2s ease 0s;}

.main-container{ transition: margin-left 0.3s ease 0s; background:#ffffff;}
section{transition: margin-left 0.3s ease 0s;}
/* column classes */
.row{float: left; width: 100%;}
.col-full{width: 100%;}
.col-half{width: 49%;}
.col-half.add_padding { width:45%; padding:0 2% }
.col-second{width: 20%;}
.col-third{width: 30%;}
.col-seventh{width: 70%;}

/* padding/margin classes */
.mtb15{margin-top: 15px !important; margin-bottom: 15px !important;}
h4.mtb15 a {color:#000;}
.ptb25{padding-top: 25px !important; padding-bottom: 25px !important;}
.ptb120{padding-top: 95px !important; padding-bottom: 80px !important;}
.ptb100{padding-top: 100px !important; padding-bottom: 80px !important;}
.pbt120{padding-top: 100px !important; padding-bottom: 80px !important;}
.pbt120.slider { padding-top:0px !important; padding-bottom:0px !important;}
.ptb120.video { padding-top:0px !important; padding-bottom:0px !important;}
.pbt120.boxes { padding-top:0px !important; padding-bottom:0px !important;}
.pbt120.sub-pages { /*padding-top:0px !important;*/}

/* common classes */
.right{float: right !important;}
.left{float: left !important;}
.align-right { text-align:right !important }
.align-left { text-align:left !important }
.center{text-align: center !important;}
.button{background-color: #e70f10; color: #FFFFFF; transition: 0.5s; -moz-transition: 0.5s; -webkit-transition: 0.5s; display: inline-block; font-size: 18px; line-height: 1; padding: 18px 35px; text-transform: uppercase; width: auto;}
.button:hover, .button-link:hover {background-color: #;}
.button-link{background:url('images/button-end-icon.png') no-repeat right 5px #e70f10; color: #fff; display: inline-block; font-size: 16px; margin-top: 25px; margin-right:10px; /*text-transform: uppercase;*/ width: auto; padding: 16px 55px 13px 15px; line-height: 1; text-align: center; float:left; font-weight:bold;}
.button-link.play {padding:5px 20px 4px 24px; font-size:28px; background:#e70f10;}
.button-link.play.quote {padding:12px 20px 8px 20px; font-size:17px;}
.button:hover, .button-link:hover {background-color: #a31818;color:#ffffff;}
.links{color: #e70f10; font: 12px "Open Sans", sans-serif; text-transform: uppercase; font-weight: 500;}
.links:hover{color: #e70f10;}
p, .main-para{font: 16px/26px "Open Sans", sans-serif; color: #333; margin-bottom: 20px;}
h1{font: 42px/42px "Open Sans", sans-serif; text-transform: uppercase; font-weight: 600; margin-bottom: 42px;}
h2{font: 42px/42px "Open Sans", sans-serif; text-transform: uppercase; font-weight: 600; margin-bottom: 42px;}
h3{font: 25px/28px "Open Sans", sans-serif; color: #353d4e; margin-bottom: 10px;}
h5{font: 18px/24px "Open Sans", sans-serif; color: #353d4e; margin-bottom: 10px;}
h6{font: 16px/22px "Open Sans", sans-serif; color: #353d4e; margin-bottom: 10px;}
.minimum-height {min-height: 93px;}
.tab-space{width: 30px; display: inline-block;}

.container{max-width: 1130px; margin:0 auto;}
.container figure img {width:100%;}
#top-section{ background-size: cover; /*min-height:400px;*/}
#top-section.fixed {position:fixed; top:0; left:0}
#top-section .cover-text{margin-top:14%; margin-right:16%; margin-bottom:10%; width:38%; background:rgba(255,255,255,0.8); padding:2%; text-align:right;}
#top-section .cover-text h1{font: 38px/36px "Open Sans", sans-serif; color: #e70f10; font-weight: 700; text-transform:uppercase; text-align:right;}
#top-section .cover-text h1 span{font-weight:200;}
#top-section .cover-text p { color:#666666; text-align:right; line-height:22px; margin:20px 0;}
#top-section .cover-text a {background:#e70f10; color:#ffffff; border:2px solid #e70f10; display:inline-block; padding:5px 30px; margin-left:30px; text-transform:uppercase;}
#top-section .cover-text a:hover { background:#ffffff; border:2px solid #e70f10; color:#e70f10}


/* header css */
#navigation{height: 80px; background-color: #fff; border-bottom: 4px solid #e70f10; border-top: 0px solid #949494; text-align: center; z-index: 999; }
#navigation .logo{position: absolute; top: 16px; left: 30px; z-index: 15;}
#navigation .logo a{color: #010101; display: block; font: 41px "Open Sans", sans-serif; font-weight: 200;}
#navigation .tabs-navigation{ display: inline-block; height: 80px; z-index: 11;}

#navigation .tabs-navigation li{display: block; float:left; position: relative; z-index: 20;}
#navigation .tabs-navigation li a {text-align:left}
#navigation .tabs-navigation li a, a.toggle-menu{color: #3d3d3d; display: block; font-weight: 400; font: 14px "Open Sans", sans-serif; padding: 12px 10px; display:block; float:left; /*border-left:1px solid #ccc; */margin:20px 5px 0 0; /*min-height:35px;*/}
#navigation .tabs-navigation li a:hover, #navigation .tabs-navigation li a.active{color:#e70f10; /*border-left:1px solid #e70f10;*/}
#navigation .tabs-navigation li a.logo-item {width:100%; max-width:200px; padding:16px 0 0 0; border-left:none; margin:0 0;}
#navigation .tabs-navigation li a.logo-item img {width:100%; max-width:100%;}
a.toggle-menu { border-left:none; margin:0; padding:0; }
 a.toggle-menu { /*position: fixed; */ position:fixed; right: 45px; top: 21px; padding: 8px; transition: 0.3s; z-index: 10000; /*background:#fefefe*/ /*color:#fefefe;*/}
a.toggle-menu small{color: #fefefe; font-size: 17px; font-weight:bold}
a.toggle-menu span{margin-left: 10px; display: inline-block; background: url(images/tmenubg_rounded.png) no-repeat 0 -1px; width: 30px; height: 30px; vertical-align: middle;}

.error404 a.toggle-menu, .single a.toggle-menu, .category a.toggle-menu, .archive a.toggle-menu, .author a.toggle-menu, a.toggle-menu.fixed {position:fixed; color:#000000;}
.error404 a.toggle-menu small, .single a.toggle-menu small, .category a.toggle-menu small, .archive a.toggle-menu small, .author a.toggle-menu small, a.toggle-menu.fixed small {color:#000000;}
.error404 a.toggle-menu span, .single a.toggle-menu span, .category a.toggle-menu span, .archive a.toggle-menu span, .author a.toggle-menu span, a.toggle-menu.fixed span {background-position:0 -1px;}


.top-inner {position:relative!important;margin-bottom: 25px;}
nav {background-color: #e70f10; color: #fff; display: block; overflow: auto; height: 100%;  position: fixed; right: -19%; top: 0; transition: right 0.3s ease 0s; width: 19%; z-index: 10001; text-align: left; }
nav.fixed-nav{position: fixed !important;}
.nav-logo {display: block; font: 24px "Open Sans", sans-serif; color: #fff; font-weight: 300; padding: 30px 25px;}
.nav-close { display: block; color: #ffffff; font-size: 38px; font-weight: 400; padding:10px; position: absolute; right: 10px; top: 10px; background:url('images/hide.gif') no-repeat center center; text-indent:-9999px}
.nav-close:hover {color: #6e7880;}
body.nav-expanded {margin-left: -20em;}
nav ul li h3 {color: #FFFFFF; display: block; font-size: 17px; font-weight: 700; text-transform: uppercase; margin: 0; padding: 0px 0px 1px 20px;}
nav ul li a{color: #fff; display: block; padding: 1px 20px; font-weight:bold; font-size:16px; line-height:22px; font-family:"Open Sans", sans-serif;}
nav ul li a:hover {color: #e70f10;}
nav ul li ul.sub-menu { margin-left:10px;}
nav ul li ul.sub-menu li a { font-weight:normal; padding:1px 20px !important}
nav ul.social {/*bottom: 0.7em; margin: 0 8%; position: relative; width: 84%;*/}
nav ul.social > li {float: left; /*text-align: center; width: 20%;*/ margin-left:20px;}
nav ul.social > li > a {color: #fff; display: block; font-size: 24px; padding: 10px 0; margin-bottom:10px}
nav ul.social > li > a:hover {color: #FFF;}
nav .black { background:#000; float:left; top:0; width:100%}
h4.menu {font-weight:800; color:#fff; margin:20px 0 0 20px}
nav .red {float:left; width:100%;}
nav .red ul {float:left; width:100%;}
.right-navigation { margin-top:10px; margin-bottom:20px;}


/* body content css */
#help-section{background-color: #fcfcfd;}
#service-section{background-color: #F9F9F9;}
#feature-section, #testimonial-section{background-color: #f5f5f5;}
#feature-section ul{text-align: center; display: block;}
#feature-section ul li{text-align: center; width: 31.33%; float: left; margin-right: 2%; margin-bottom:4%;}
#feature-section ul li.childpage-resize { margin-bottom:0}
h4{font: 20px "Open Sans", sans-serif; font-weight: 400;}
.mright{margin-right: 50px;}
#feature-section ul li p,
.col-seventh.right > p,
#testimonial-section ul li p{color: #353535; font: 13px/22px "Open Sans", sans-serif; font-weight: 400; margin-bottom: 5px;}
.links span{margin-left: 5px;}
#portfolio-section h2 {padding: 0 30px;}
#testimonial-section ul,
#blog-section ul{padding-top: 120px;}
#testimonial-section .container { margin-bottom:100px}
#testimonial-section ul li{float: left; width: 27%; margin-right: 9.5%;  text-align: center; position:relative}
#testimonial-section ul li figure{display: block; width:300px; margin-left:-150px; left:50%; position:absolute; }
#testimonial-section ul li img{width:90px; height:auto; border:3px solid #ffffff;}
#testimonial-section ul li:last-child{margin-right: 0;}
#testimonial-section ul li p.main-para{color: #9a9a9a !important; margin-bottom: 20px !important;}
#testimonial-section ul li p{text-align: justify;}
#testimonial-section ul.home-testimonial { width:100%; margin:0; padding:0; }
#testimonial-section ul.home-testimonial li { width:70%; margin:0 auto}
#testimonial-section ul.home-testimonial li {padding:5% 5% 45px 5%; border: 5px #e70f10 solid;}

#blog-section .date{font: 13px "Open Sans", sans-serif; color: #bababa; display: block; margin-bottom: 5px;}
#blog-section h3{font-family: "Open Sans", sans-serif; font-weight: 300;}
#blog-section .blog-links{margin-bottom: 15px; color: #b5b5b5; font-size: 12px;}
#blog-section p{color: #333; font: 13px/16px "Open Sans", sans-serif;}
#blog-section .blog-links a{color: #e70f10; font: 13px "Open Sans", sans-serif;}
#blog-section .blog-links a:hover{color: #e70f10;}
#blog-section .col-second{margin-right: 10px;}
#blog-section .col-second img{ border-radius: 4px;}


/* Logos homepage */
.c-logos li { display:inline-block; width:30%; margin:1%; text-align:center;}
.c-logos li a {display:block; text-align:center}
.c-logos li img { display:block; width:100%; max-width:100%;}
.c-logos li.tpl {text-align:left; border:0px solid #fefefe; width:18%; box-shadow:0px 1px 3px #ccc; float:left; padding-bottom:20px}
.c-logos li.tpl img { display:block; width:auto; max-width:100%;}
.c-logos li h4 { color: #e70f10; font-weight:600;padding:20px 20px 0 20px}
.c-logos li.tpl p { padding:20px; font-size:14px; line-height:16px;}

/* footer css */
footer{transition: margin-left 0.3s ease 0s; background:#000; position:relative; color:#fff; }
footer .blog > a#bloglink{color: #e70f10; display: block; float: left; font-size: 11px; margin-top: -10px;}
footer .blog > a#bloglink:hover{color: #fff; cursor: pointer;}
footer .blog > a#bloglink:hover{color: #e70f10;}
footer div.sitemap{ color: #ffffff;}
footer div.sitemap > .container > ul{margin: 70px 0 30px 0;}
footer div.sitemap > .container > ul > li{float: left; width:25%; font: 16px/24px "Open Sans", sans-serif;}
footer div.sitemap > .container > ul > li:last-child{/*text-align: right;*/}
footer .vcard .textwidget span { color: #e70f10}
footer .vcard .textwidget span.fa { width:20px; color:#fff}
footer .vcard a { color:#e70f10 !important}

footer  h3{color: #fff; font: 18px "Open Sans", sans-serif; font-weight: 700; text-transform: uppercase; margin: 0 0 18px 0;}
footer li div{margin: 10px 0 36px;}
footer div.sitemap > .container > ul li  a{ color: #ededed; font-family: 15px "Open Sans", sans-serif;}
footer div.sitemap > .container > ul li  a:hover{color: #fff;}
footer div.sitemap > .container > ul > li > ul > li > a > span{padding: 0 7px 0 0; width: 18px;}
footer div.sitemap > .container > ul > li .blog { margin-top: 20px;}
footer .footer-bottom{background-color: #fff; color:#999;padding:8px 0px 5px 0; text-align: center; border-top:7px solid #e70f10;}
footer .footer-bottom a.footer-logo{float: left; color: #fff; display: block; display: block; font: 28px "Open Sans", sans-serif; margin-top: 15px; width:200px}
footer .footer-bottom p{ /*display:inline-block;*/ margin:20px 0 0; color:inherit;}
footer .footer-bottom .payment-types{float:right; margin-top: 12px;}
footer ul li a span.fa { width:20px}
footer .footer-bottom .textwidget { text-align:right; color:#333; float:right; margin:25px 0}
footer .footer-bottom #menu-footer-menu { float:left; margin-top:25px }
footer .footer-bottom #menu-footer-menu li {margin:0px; float:left;}
footer .footer-bottom #menu-footer-menu li a { padding:0 10px; border-left:1px solid #999; color:#333;}
footer .footer-bottom #menu-footer-menu li:first-child a { border-left: none}
footer .footer-bottom #menu-footer-menu li a:hover {color:#e70f10}
footer a.developer { color:#a6bd18;}
footer a.developer:hover {color:#ffffff}
footer .footer-bottom .textwidget span {text-align:left; float:left}
footer a.developer img { vertical-align:middle}

#map .contact { position:absolute; width:100%; max-width: 1130px; bottom: 60px; margin:0 auto; /*background:rgba(255,255,255,0.8);*/ z-index:100;} 
#map .contact .textwidget, #map .contact h2 { padding:0px; margin-bottom:0;}
#map .contact .textwidget { background:rgba(0,0,0,0.8); color:#fff; float:left;}
#map .contact .textwidget { width:534px }
#map .contact .textwidget h3 { text-transform:uppercase; font-weight:bold; color:#fff; padding:12px 0 0 16px}
#map .contact .textwidget .left, #map .contact .textwidget .right { width:249px; padding-left:17px }
#map .contact a, #map .contact .textwidget span { color: #e70f10}
#map .contact .textwidget span.fa { width:20px; color:#fff}
#map .contact a:hover { color:#fff }
#map .contact a.button-link {color:#fff; display:inline; padding:14px 0 16px 17px; text-align:left; width:517px}


/***page css**/
.p-title{margin-bottom:25px;}
.p-title a{color:#000;}
.search .p-title{margin-bottom:30px;}
#container article p{line-height:24px;}
.align_right {float: right;}
.align_left {float: left;}

.tabs-navigation li .sub-menu {display: none;position: absolute;}
.tabs-navigation li:hover .sub-menu { display: block!important;}
.sub-menu li a { padding: 10px 0 !important;}
#feature-section  li img{width:auto;}
.post-info-details {display:block; padding-bottom:15px;}
.single-post-thumbnail{display:block; padding-bottom:25px;}
.title-heading{ font: 200 68px/62px "Open Sans", sans-serif; text-transform: uppercase;padding-top:35px;margin-bottom:0px;}
.testimonial-thumb{ background: url("images/spirite-image.png") no-repeat scroll -43px 120px rgba(0, 0, 0, 0); border-radius: 30px; display: inline-block;  height: 160px;  width: 122px;}
.testimonial-thumb img {border: 7px solid #e70f10; border-radius: 30px; height: 108px;}
.top-toggle small{color:#fff}

#feature-section ul.col-2 li { width: 48%;}
#feature-section ul.col-1 li { width: 100%; margin-right: 0;}
#feature-section ul li.no-margin-bottom {margin-bottom:0}


#testimonial-page ul li p{color: #353535; font: 13px/22px "Open Sans", sans-serif; font-weight: 400; margin-bottom: 5px;}
.links span{margin-left: 5px;}
#testimonial-page ul {/*padding-top: 10px;*/}
#testimonial-page ul li{ /*float: left; width: 27%; margin-right: 4.5%;  text-align: center; margin-bottom:25px;*/}
#testimonial-page ul li figure{ /*background: url(images/spirite-image.png) no-repeat -43px 120px; display: inline-block; width: 122px; height: 160px; border-radius: 30px; */ float:left; margin-right:27px;}
#testimonial-page ul li img{height: 108px; border: 4px #e70f10 solid;}
#testimonial-page ul li p.main-para{color: #9a9a9a !important; margin-bottom: 20px !important;}
#testimonial-page ul li p{text-align: justify;}

/* testimonials new */
.testimonial-tpl li {border:1px solid #fefefe; box-shadow:0px 1px 3px #ccc; margin-bottom:40px; padding:20px;}
.testimonial-tpl li figure img {max-width:150px; height:auto !important}
.testimonial-tpl li figure h4 {}
.testimonial-tpl li figure p.main-para {}

/*slider homepage */
.slider-home { min-height:100px; background:url(images/slider-bg.png) #47b8ca; color:#ffffff; }
.slider-home.fixed { margin-top:80px } 
.slider-home { }
.slider-bottom { width:100%; height: 120px; background:url(images/slider-controlls-bg.png) no-repeat; background-size:cover; background-position:center bottom; }


.lmm-panel { display:none !important}
/*iframe responsive*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* map */
#stockists-map { height: 600px; width: 100%; background:#ccc; margin-top:82px;}
#stockists-map-controls { cursor: pointer; height: 101px; margin: 20px 0 0 20px; width: 32px; }
.stockists-map-zoom-btn { background: url("images/sprite-map-zoom-controls-medium.png") no-repeat; display: block; font-size: 0; height: 32px; width: 32px; transition: none; }
#stockists-map-zoom-in { background-position:0 0; margin-bottom: 5px;}
#stockists-map-zoom-in:hover { background-position:-48px 0 ;}
#stockists-map-zoom-out { background-position:0 -35px; }
#stockists-map-zoom-out:hover { background-position:-48px -35px; ;}

.stockist-info {width: 190px; height: 85px; text-align: center; position: relative; margin-top:-130px; background: #fefefe; margin-left:-95px; border:2px solid #e70f10; }
.stockist-info h4 {color:#000000; font-size: 30px; line-height: 30px; margin:0px 0px 10px 0px; font-weight: normal; }
.stockist-info p {margin:0px; /* width: 180px;  */ padding: 0px; }
.stockist-info p.small-text {line-height: 15px; font-family: Verdana; letter-spacing: 0; font-size: 11px; color: #000000; font-weight: bold;}
.stockist-info-top {padding: 10px; margin:0px}
.stockist-info-bottom {padding: 7px 0px 0px 20px; background: #b38c55; height: 29px; font-family: Verdana;}
.stockist-info-bottom a {color:#cccccc; text-decoration: none; letter-spacing: 0; }
.stockist-info-bottom a:hover {color:#23201c;}
.stockist-info-arrow-btm {position: absolute; bottom:-38px; left:0px; width: 101px; height: 38px; background:#fefefe}
.stockist-info-shadow {position: absolute; bottom:-41px; left:24px; z-index: -1}



/*slider inside section */
.flexslider ul.slides li {position:relative};
.flexslider ul.slides li img {position:relative; z-index:1}
.flexslider ul.slides li .cover-text { width:30%; background:rgba(255,255,255,0.8); padding:2%; position:absolute; z-index:2; bottom:15%;}
.flexslider ul.slides li .cover-text.right { right:7%; text-align:right}
.flexslider ul.slides li .cover-text.left { left:7%; text-align:left}

.flexslider .cover-text h3{font: 28px/26px "Open Sans", sans-serif; color: #e70f10; font-weight: 700; text-transform:uppercase; text-align:right;}
.flexslider .cover-text h3 span{font-weight:200;}
.flexslider .cover-text p { color:#666666; text-align:right; line-height:22px; margin:20px 0;}
.flexslider .cover-text a {background:#e70f10; color:#ffffff; border:2px solid #e70f10; display:inline-block; padding:5px 30px; margin-left:30px; text-transform:uppercase;}
.flexslider .cover-text a:hover { background:#ffffff; border:2px solid #e70f10; color:#e70f10}

.bg-video video { bottom: 0; display: block; height: auto; left: 0; margin: auto; min-height: 100%; min-width: 100%; position: absolute;right: 0; top: 0;width: auto;z-index:1;max-width:100%; }



/* css for content */
.col-content ul li, .col-full ul li { background:url('images/li.png') no-repeat 0 8px; padding:2px 2px 2px 14px;}
.col-content ol li, .col-full ol li { padding:2px; list-style:decimal; } 



/* Flexible Content -> Boxes */
.rboxes {float:left; margin: 2% 0 4% 0; padding: 0; width:100%;}
.rboxes li { background: none repeat scroll 0 0 #ffffff; list-style: outside none none; margin-bottom: 0; margin-right: 1%;margin-left: 1%; margin-top: 2%; padding:1% 1% 50px 1%; position: relative; width: 29.333%; }
.rboxes.c-1 li { width:96% }
.rboxes.c-2 li { width:46% }
.rboxes.c-3 li { width:29.333% }
.rboxes.c-4 li { width:21% }
.rboxes.c-5 li { width:16% }
.rboxes li.shadow {	box-shadow: 1px 1px 4px #cccccc;}
.rboxes li.last-box { margin-right: 0 !important;}
.rboxes li img { bottom: 14px; width: 100%; z-index: 99999;}
.rboxes li .box-title { color:#e70f10; font-size: 20px; font-weight: normal; left: 0; line-height: 26px; margin: 0; padding: 20px 0; z-index: 50;}
.rboxes li .box-title a { color:#e70f10; font-weight: normal; text-decoration: none; text-transform: uppercase;}
.rboxes li .box-title span { display:block; }
.rboxes li.even { /*cursor: pointer;*/ float: left;}
.rboxes li.odd {float: left;}
.rboxes li div { }
.rboxes li .bg { background-position: center center; background-size: cover; cursor: pointer; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 100;}
.rboxes li .over { /*cursor: pointer;*/ z-index: 200;}
.rboxes li .over { bottom: -302px; height: 302px; left: 0; position: absolute; width: 100%;}
.rboxes li .over p { color: #ffffff; padding: 5%;}
.rboxes li .over p.with-btn { padding: 0 5%;}
.rboxes li .over p.with-btn a { background: none repeat scroll 0 0 #ffffff; font-weight: 900; padding: 10px 30px; text-decoration: none; text-transform: uppercase;}
.rboxes li .over p.with-btn a:hover { opacity: 0.8;}
.rboxes li .bg-opacity { height: 100%; position: relative; width: 100%; z-index: 10; }

.large-color-button {background:#e70f10; color:#ffffff; border:2px solid #e70f10; display:inline-block; padding:3px 10%; width:80%; text-transform:uppercase;}
.large-color-button:hover { background:#ffffff; border:2px solid #e70f10; color:#e70f10}
.rboxes li .btn-bottom { 
    position:absolute; 
    bottom:3%; 
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


/* Flexible Content -> Logos carousel */
.owl-carousel { margin:2% 0 }
.owl-carousel .item{ padding: 0; margin:0; text-align: center; }
.owl-carousel .item img {width:100%; max-width:100%;/* -webkit-box-shadow:0px 2px 2px #ccc; -moz-box-shadow:0px 2px 2px #ccc; box-shadow:0px 2px 2px #ccc;*/}
.owl-theme .owl-controls .owl-page span {background: #e70f10 !important; opacity:1 !important;}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background: #000 !important; opacity: 1 !important;}


/* Flexible Content -> Testimonials */
.flex-control-nav { z-index:10}
.testimonials #testimonial-sections { background:none; /*margin-bottom:80px;*/}
.slider-testimonial .flex-control-nav { bottom:-120px; }
.t-content { border: 5px solid #e70f10; padding: 5% 5% 65px; width:80%; margin:0 5%; background:#fff }
.t-content p { text-align:justify; color: #353535 !important; font: 400 13px/22px "Open Sans", sans-serif; margin-bottom: 5px; }

.slider-testimonial ul li figure {display: block; left: 50%; margin-left: -200px; position: absolute; width: 400px; text-align:center; top:120px}
.slider-testimonial ul li figure p { color: #9a9a9a !important; margin-bottom: 20px !important;  font: 400 13px/22px "Open Sans", sans-serif;}
.slider-testimonial ul li img { border: 3px solid #ffffff; height: auto; width: 90px; }



/* Flexible Content -> FAQ */
.faqs > ul { margin: 0; padding: 0; }
.faqs > ul > li { list-style: outside none none; margin: 0 0 4px 0; background:0; padding:0; border-bottom:2px solid #ddd;}
.faqs > ul > li > h3 { background: none repeat scroll 0 0 #e70f10; color: #ffffff; margin: 0; padding: 10px;}
.faqs > ul > li.no-active > h3 { background: none repeat scroll 0 0 #f4f4f4; color: #e70f10; margin: 0; padding: 10px;}
.faqs > ul > li > h3 > span { float: right; font-weight: 900;}
.faqs > ul > li > h3:hover { cursor: pointer; opacity: 0.8;}
.faqs > ul > li > div { margin: 0; padding: 10px; }
.faqs > ul > li.no-active > div { display: none;}
.faqs a { color:#e70f10}

/* Sitemap CSS */
.page-list .page_item { margin: 2px 0; }
.page-list .page_item a { color:#333; }
.page-list .page_item a:hover { text-decoration:underline}
.page-list .page_item .children li { list-style:disc; padding:2px; margin-left:14px; background:none; color:#999; }

/* Search  FORM*/
.textwidget .search { margin:5px 20px }
.search .search-input { border:0; display: inline-block; float: left; /*height: 28px;*/ margin-right: 12px; padding: 5px; width: 120px; margin-bottom:5px;}
.search .search-submit { background: #FFF; color:#000; border:0; display: inline-block; float: left; padding: 5px; /*height:28px;*/ margin-bottom:20px }

/* search form on SEARCH RESULTS page */
.search .right p { font-size:14px; color:#000; font-weight:bold; text-align:right}
.search .right .search-page .search-input { border:1px solid #333; float:right; height:38px; padding:0 5px; margin:0; width:50%;}
.search .right .search-page .search-submit { border:1px solid #e70f10; float:right; background:url('images/searchicon.gif') no-repeat #e70f10; text-indent:-9999px; width:40px; display:inline-block; cursor:pointer; height:40px;  }

/* search results */
.search .hentry{ text-align: left; margin-bottom:20px; background:#e3e0e0 }
.search .hentry h2 { margin-bottom:0; font-size:32px; background:#000; }
.search .hentry h2 a { color:#fff; background:#000; padding:10px 20px; display:block; }
.search .hentry:hover h2 a, .search .hentry h2 a:hover { background:#e70f10 }
.search .hentry p { padding:20px}
.search .hentry strong { color:#e70f10}
.search h2.p-title { font-weight:bold; }
.search h2.p-title span { display:block; color:#e70f10 }


/* single news */
.single .hentry{ -webkit-box-shadow:0px 1px 3px #ccc; -moz-box-shadow:0px 1px 3px #ccc; box-shadow:0px 1px 3px #ccc; border-bottom:2px solid #ccc; padding: 20px; text-align: left; margin-bottom:20px; }
.single .hentry h2 { margin-bottom:12px; font-size:32px }
.single .hentry h2 a { color:#e70f10 }
article .date { margin-bottom:12px; font-style:italic; display:inline-block;}


/* single-testimonial */
.single-testimonials .slider-testimonial ul li figure { top:-50px }
.single-testimonials .slider-testimonial ul li img {border:3px solid #ccc}
.single-testimonials .col-content ul li, .single-testimonials .col-full ul li {padding:0; background:none;}
.single-testimonials .t-content { padding: 120px 5% 5% 5%; }
.single-testimonials .t-content p {  color: #666;  font: 16px/26px "Open Sans", sans-serif; }


/* pagination */
.pagination { margin-bottom: 35px;}
.pagination span, .pagination a { border:2px solid #e70f10; color:#e70f10; background:#fff; padding:5px 12px; margin-right:5px; display:inline-block; }
.pagination span.current, .pagination a:hover { background:#e70f10; color:#fff; }


/* Gravity Forms */
.gfield_required {color: #e70f10 !important}
.gform_button { padding:7px 30px; border:0px solid #e70f10; cursor:pointer}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium,
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { padding:5px !important; border:1px solid #000}
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { width:90% !important}
.gform_body {margin:0}
footer .ginput_container { margin:0}
footer .gfield_label { font-weight:normal !important; margin:0 !important; }
footer .gform_wrapper { margin:0}
footer .gform_wrapper textarea.medium {height:100px}
footer .gform_wrapper .gform_footer {margin:16px 0; padding:0}
footer .gform_wrapper div.validation_error { color:#ff0000 !important;}
footer .gform_wrapper .top_label .gfield_error { width:90% !important}
footer .gfield_description.validation_message { margin:0 !important;}
/*start side navigation*/
#side-navigation {
    position: fixed;
    top: 30%;
    right:20px;
    width: 300px;
    height: auto;
    text-align: right; 
    z-index: 999; }
#side-navigation  li{
    margin-top:10px;
}
#side-navigation  a{
    color:#FFF;
    text-decoration:none;
}
#side-navigation  a:hover{
    color:#FFF;
    text-decoration:none;
}
#side-navigation a.scroll-down .show-on-hover{
    display:none;
}
#side-navigation a.scroll-down:hover .show-on-hover{
    display:block;
    position:relative;
    float:right;
    line-height:29px;
    letter-spacing: 2px;
    padding-left:5px;
    background:#2e2e2e;
    	border-top-left-radius:14px;
	border-bottom-left-radius:14px;
	-moz-border-top-left-radius:14px;
	-moz-border-bottom-left-radius:14px;
	-webkit-border-top-left-radius:14px;
	-webkit-border-bottom-left-radius:14px;
    color:#FFF;
    text-transform:capitalize;
    font-weight:600;
}
#side-navigation a.scroll-down:hover .show-on-hover:after{
      content:url('images/dot-white.png');
      position:relative;
      padding-left:10px;
      padding-right:5px;
      top:3px;
}
#side-navigation a.scroll-down:hover .show-on-hover:before{
      content:url('images/dot-green.png');
      position:relative;
      padding-left:0px;
      padding-right:10px;
      top:3px;
}
#side-navigation a.scroll-down i{
        background: url('images/dot-white.png') center no-repeat;
        width: 17px;
        height: 17px;
        padding-left: 25px;
        margin-top: 3px;
        padding-bottom: 10px;
}
#side-navigation a.scroll-down:hover i{
        background:transparent;
}
#side-navigation  .tabs-navigation li{
        display: block; 
        position: relative; z-index: 20;
}
#side-navigation  .tabs-navigation li a:hover, #side-navigation  .tabs-navigation li a.active{color:#138309;}
#side-navigation  .tabs-navigation li a.logo-item {width:100%; max-width:200px; padding:14px 0 0 0; border-left:none; margin:0 0;}
#side-navigation .tabs-navigation li a.logo-item img {width:100%; max-width:100%;}
/*end side navigation*/

/* ==================================== */
/* custom CSS - added for this template */
/* ==================================== */
.shadow-boxes ul li {-webkit-box-shadow:0px 1px 2px #ccc; -moz-box-shadow:0px 1px 2px #ccc; box-shadow:0px 1px 2px #ccc;}

.sub-navigation { background:#fff; width:100%; position:fixed; z-index:255; -webkit-box-shadow:0px 1px 2px #666; -moz-box-shadow:0px 1px 2px #666; box-shadow:0px 1px 2px #666; top:80px; height:40px;}
.sub-navigation .bttn {padding:2.5px; margin:0px; /*background:#333;*/ color:#fff; text-indent:-9999px}
.sub-navigation .bttn.hide { position:absolute; right:50px; top:13px;  background:url(images/closeit.png) no-repeat top center; width:30px;}
.sub-navigation .bttn.show { position:absolute; right:52px; top:-30px; background:url(images/showit.png) no-repeat top center; width:30px; }
.breadcrumb { margin:13px 0 0 0; color:#333; font-size:14px;}
.breadcrumb a, .breadcrumb span { color:#e70f10; }
.sub-navigation .right a { color:#e70f10; font-size:22px; font-weight:bold; display:inline-block; margin-top:7px; font-family:Verdana, Geneva, sans-serif;}
.sub-navigation .right a span { display:inline-block; font-size:25px; margin-right:14px; margin-top:4px;}

.white-font, .white-font p { color:#fff;}
.white-font .flex-control-paging li a {background:#fff !important}
.white-font.testimonials .button-link {background:url("images/button-end-icon.png") no-repeat right 5px #000 }
.white-font.testimonials .slider-testimonial ul li figure p {color:#fff !important}
.white-font.testimonials .slider-testimonial ul li img { border:3px solid #ccc}

.large-color-pager {
  background: #000;
  color: #ffffff;
  display: inline-block;
  padding: 3px 3px;
  width: 29px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: center;
}

.large-color-pager:hover {
  background: #e70f10;
  border: 2px solid #e70f10; 
}

.news-title a {
  color: #e70f10;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}


.blogbutton-2 {
  position: absolute;
  bottom: 0px;
}



.thasnkyouvideo {}
.thankyouvideo .container  {position: relative; overflow: hidden; width: 100%; height: 100%; z-index: 2; /* top: -13px; */}
thankyouvideo .ptb120.video {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  position: relative;
  top: -248px;
}


.background-text {}  
.background-text p {margin: 0px 15px;}
.background-text h2 {margin-top: 0px;}

.background-text .container {background: rgba(44, 44, 44, 0.5); padding: 15px;}

.flex-control-paging li a.flex-active { background:#000 !important}
.text-shadow { text-shadow: 0px 1px 2px #666;}
.center-text { text-align:center}

footer div.sitemap > .container #menu-what-we-do li a { font-weight:bold}
footer div.sitemap > .container #menu-what-we-do .sub-menu {margin-left:20px}
footer div.sitemap > .container #menu-what-we-do .sub-menu li {}
footer div.sitemap > .container #menu-what-we-do .sub-menu li a { padding:0; font-weight:normal}
footer div.sitemap > .container ul li a:hover { color:#e70f10; }
footer div.sitemap > .container ul li.tel span { color:#e70f10; }


/* ====================================== */
/* custom CSS - added for custom SECTIONS */
/* ====================================== */
.rboxes li img {width:auto}
.rboxes li { background:none; text-align:center }
.no-padding.ptb120 { padding-bottom:0px !important; padding-top:0px !important}

.push-button-related-pages .rboxes li .box-title a { /*color: #fff;*/ font-weight:bold }
.push-button-related-pages .rboxes li p { /*color:#fff*/ }
.push-button-related-pages .rboxes li .btn-bottom { width:94%}

push-button-related-pages .rboxes li .btn-bottom .large-color-button {
  border: none;
  color: #fff;
  background: #e70f10;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

.push-button-related-pages .rboxes li .btn-bottom .large-color-button:hover {
background: #A31818; 
border:none;
color:#fff;
}
.after-hours-services h2 {margin-top:0px }

.we-offer-much-more-than-keys.ptb120 { padding-bottom: 0px !important }
.we-offer-much-more-than-keys h2 { font-weight:bold }
.we-offer-much-more-than-keys h2 span { color:#e70f10 }

.we-repair-push-button-keys.ptb120 { padding-bottom: 0px !important; padding-top:3% !important; }
.we-repair-push-button-keys h2 { font-weight:bold }
.we-repair-push-button-keys h2 span { color:#e70f10 }

.our-partners-boxes .rboxes li { background:#161211; color:#fff;}
.our-partners-boxes .rboxes li h3, .our-partners-boxes .rboxes li p { color:#fff }
.our-partners-boxes .rboxes li h3 { font-weight:bold}


.invert.ptb120 { padding-bottom: 0px !important; padding-top:0px !important }
.invert h2 {background: #000; color:#fff; text-transform:capitalize; font-size:32px; padding:10px 20px}


body
{
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix{
    from{   opacity: 1; }
    to{ opacity: 1; }
}